<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <app-post-list (postChange)="selectedId.next($event.id)"></app-post-list>
    </div>

    <div class="col-lg-8 col-sm-12">
      <div class="px-3 py-5">
        <ng-container *ngIf="post$ | async as post; else loadingOrError">
          <h2>Post Detail</h2>
          <hr />
          <h3>
            {{ post.title }}
          </h3>

          <p>
            {{ post.body }}
          </p>
        </ng-container>

        <ng-template #loadingOrError>
          <ng-template #loading> Loading... </ng-template>

          <ng-container *ngIf="fetchPostError; else loading">
            <div class="alert alert-danger">
              {{ fetchPostError }}
            </div>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>
</div>
