<div class="d-flex flex-column bg-white">
  <a
    href="javascript:void(0)"
    class="
      d-flex
      align-items-center
      flex-shrink-0
      p-3
      link-dark
      text-decoration-none
      border-bottom
    "
  >
    <span class="fs-5 fw-semibold">Post List</span>
  </a>
  <div class="list-group list-group-flush border-bottom scrollarea">
    <ng-container *ngIf="posts$ | async as posts">
      <a
        href="javascript:void(0)"
        class="list-group-item list-group-item-action py-3 lh-tight"
        [class.active]="selectedPost === post.id"
        aria-current="true"
        (click)="onSelectPost(post.id)"
        *ngFor="let post of posts.slice(0, 5)"
      >
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">
            {{ post.title | slice: 0:40 }}
            {{ post.title.length > 40 ? '...' : '' }}
          </strong>
        </div>
        <div class="col-10 mb-1 small">
          {{ post.body | slice: 0:50 }}
          {{ post.body.length > 50 ? '...' : '' }}
        </div>
      </a>
    </ng-container>
  </div>
</div>
